* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	place-items: center;
	background: #131419;
	flex-direction: column;
	justify-content: center;
}

.clock {
	height: 120px;
	width: 850px;
	background: #131419;
	line-height: 120px;
	text-align: center;
	padding: 10px;	
}

.clock .display {
	font-size: 60px;
	color: #38d39f;
	letter-spacing: 8px;
	font-family: 'Orbitron', sans-serif;
}

.display { 
	min-width: 650px;
}

.analog-clock {
	margin: 2px;
	padding: 10px;
}

@keyframes clock {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#clock-arrow {
    animation: clock 2s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
}