* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-items: center;
	background: #131419;
}

.clock {
	height: 120px;
	width: 550px;
	background: #131419;
	line-height: 120px;
	text-align: center;
	padding: 0 5px;
	box-shadow: -3px -3px 7px rbga(255, 255, 255, 0.05), 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.clock .display {
	font-size: 60px;
	color: #3eff8b;
	letter-spacing: 8px;
	font-family: 'Orbitron', sans-serif;
}
